/* All EMs and PERCENTAGEs are based on a 13px base font-size */

body {
  background-color: #FFF;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

body {
  background-color: #4B7399;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 1.54em 3.1em;
  border: solid 1px black;
  margin-top: 1.54em;
  margin-bottom: 1.54em;
}

fieldset {
	border: 1px solid #333;
	padding: 0.38em 0.615em;
}

	legend {
		background-color: #E0E0E0;
		border: 1px solid #333;
		margin: 0 0 0.615em;
		padding: 0.38em 0.615em;
	}
	
	input[type=text],
	input[type=password],
	select,
	textarea {
		width: 350px;
	}

#flash_notice, #flash_error {
  padding: 0.38em 0.615em;
  margin: 0.77em 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 30.77em;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 0.92em;
  margin-bottom: 1.54em;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.38em 0.38em 0.38em 1.154em;
  font-size: 0.92em;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 0.615em;
}

#errorExplanation ul {
  margin: 0.154em 1.846em;
}

#errorExplanation ul li {
  font-size: 0.92em;
  list-style: disc;
}
