/* 

	Skin
	
	Author:			Your Name
	Date:			Today's Date
	
	Description:
	===============================================================
	Place styles that will affect the look and feel for your site.
	You should not have to modify reset.css, typography.css, grids.css
	or application.css if you are using the grids css system.

*/

body {
	background-color: #fefefe;
	color: #252525;
	font-size: 13px;
	line-height: 22px;
}

#main {
	width: 850px;
	margin: 50px auto;
	padding: 50px;
	border: 5px solid #252525;
}

.spacer {
	padding: 0.77em;
}

/* 
====================================================================================
		Components
==================================================================================== 
*/

.sizer {
	padding: 0.77em;
	margin: 0 auto;
}

.x840 {
	width: 64.652em;
}

.x940 {
	width: 72.31em;
}

.x960 {
	width: 73.85em;
}

.menu,
.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}
	
	.menu li {
		float: left;
	}

	.menu a {
		display: block;
		padding: 0.462em 0.77em;
		text-decoration: none;
	}

.menu.left {
	float: left;
}

.menu.right {
	float: right;
}

.clearFloat {
	overflow: hidden;
	_overflow: visible !important;
	zoom: 1;
}

.subtext {
	display: block;
	font-size: 0.455em;
	padding: 1em 0;
}

.intro {
	border: 2px solid #858585;
	border-left: none;
	border-right: none;
	color: #858585;
	font-size: 1.85em;
	font-style: italic;
	line-height: 1.3;
	padding: 0.454em 0;
}

	.intro span {
		color: #4173AF;
	}

.picture {
	background-color: #353535;
	height: 150px;
	margin-bottom: 0.77em;
	width: 95%;
}

	.picture.large {
		height: 300px;
	}

.topborder {
	border-top: 1px solid #858585;
	padding-top: 0.77em;
}

/* 
====================================================================================
		Typography
==================================================================================== 
*/

h1 {
	margin-bottom: 0.499em;
}

h2 {
	margin-bottom: 0.591em;
}

h3 {
	color: #5384BF;
	margin-bottom: 0.684em;
}

.column p {
	padding-right: 0.77em;
}

/* 
====================================================================================
		Elements
==================================================================================== 
*/

a {
	outline: none;
}

accronym {
	border-bottom: 1px dotted;
	cursor: help;
}

hr {
	background-color: #DDDDDD;
	border: medium none;
	height: 1px;
	margin: 0 0 1.45em;
	width: 100%;
}

pre {
	background-color: #e5e5e5;
	padding: 0.77em;
}

/* 
====================================================================================
		Form
==================================================================================== 
*/

label {
	display: block;
}

/* 
====================================================================================
		Tables
==================================================================================== 
*/

table {
	margin-bottom: 3em;
	width: 100%;
}

	table,
	table th,
	table td {
		border: 1px solid #c5c5c5;
	}

	table th {
		text-align: left;
	}

/* 
====================================================================================
		Examples
==================================================================================== 
*/

#examples_nav,
#examples_nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

	#examples_nav {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
		width: auto !important;
	}

	#examples_nav li {
		float: left;
	}

	#examples_nav li a {
		border: 1px solid #c5c5c5;
		border-bottom: none;
		color: #9d9d9d;
		display: block;
		padding: 0.25em 1.5em;
		margin: 0 0 0 0.77em;
		text-decoration: none;
	}
	
	#examples_nav li a:hover,
	#examples_nav li a.active {
		border-color: #656565;
		color: #656565;
	}

#examples {
	border: 1px solid #c5c5c5;
	height: 20em;
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
	position: relative;
	width: auto !important;
}

	#example_one,
	#example_two,
	#example_three {
		float: left;
		padding: 0.77em;
	}