/* 

	Skin
	
	Author:			Your Name
	Date:			Today's Date
	
	Description:
	===============================================================
	Place styles that will affect the look and feel for your site.
	You should not have to modify reset.css, typography.css, grids.css
	or application.css if you are using the grids css system.

*/

body {
	background-color: #fefefe;
	color: #252525;
	font-size: 13px;
	line-height: 22px;
}

#main {
	width: 850px;
	margin: 50px auto;
	padding: 50px;
	border: 5px solid #252525;
}

.spacer {
	padding: 0.77em;
}

/* 
====================================================================================
		Typography
==================================================================================== 
*/

h1 {
	margin-bottom: 0.499em;
}

h2 {
	margin-bottom: 0.591em;
}

h3 {
	color: #5384BF;
	margin-bottom: 0.684em;
}

.column p {
	padding-right: 0.77em;
}

/* 
====================================================================================
		Elements
==================================================================================== 
*/

accronym {
	border-bottom: 1px dotted;
	cursor: help;
}

hr {
	background-color: #DDDDDD;
	border: medium none;
	height: 1px;
	margin: 0 0 1.45em;
	width: 100%;
}

pre {
	background-color: #e5e5e5;
	padding: 0.77em;
}

/* 
====================================================================================
		Form
==================================================================================== 
*/

label {
	display: block;
}

/* 
====================================================================================
		Tables
==================================================================================== 
*/

table {
	width: 100%;
}

	table,
	table th,
	table td {
		border: 1px solid #c5c5c5;
	}

	table th {
		text-align: left;
	}

/* 
====================================================================================
		Misc
==================================================================================== 
*/

table,
pre {
	margin-bottom: 3em;
}