<div id="main">
	<h1>Gridz</h1>
	<p>
		<strong>Gridz</strong> is a <accronym title="Cascading Stylesheets">CSS</accronym> framework that was developed to make
		grid layouts easier to code. The idea is not new nor is is something that
		I will take credit for discovering. What is new, I think, is the approach
		to the problem that I have taken.
	</p>
	<p>
		One of my biggest gripes with other frameworks is that number of classes
		that the designer has to be aware of. Instead of looking at a grid and
		trying to come up with a class for each instance, we should break down
		the main parts to the grid, dissecting it into its lowest common denominator
		and starting from there. From what I have seen there is really only a need
		to have 5 distinct column widths when working with web medium. Going beyond
		this tends to lead to columns that are so small that information contained
		within them becomes less attractive in the overall layout.
	</p>
	
	<h2>The Idea</h2>
	<p>
		So what is a grid? A grid basically takes a layout and breaks it into
		fractions, or sections. These sections can either contain content or they
		can contain new sections. This process can, in theory, be repeated
		infinitely. To make our jobs easier we have to put some restrictions on
		the number of "columns" that we want to deal with. As stated above, I have
		chosen to use 5.
	</p>
	
	<h2>Core Classes</h2>
	<p>
		The following classes allow you to break up your page(s) into columns. An
		important thing to remember is that columns will determine the width, the
		content that you put in these columns will determine the height.
	</p>
	
	<table>
		<thead>
			<tr>
				<th>Property</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>row</td>
				<td>Groups columns on a single horizontal line.</td>
			</tr>
			<tr>
				<td>col</td>
				<td>Base class that divides a row into columns.</td>
			</tr>
			<tr>
				<td>col<strong>x</strong>of<strong>y</strong></td>
				<td>
					This class is used in conjunction with <tt>col</tt> in order to
					set the fractional width for the column.
				</td>
			</tr>
			<tr>
				<td>lastCol</td>
				<td>This class will be added to the final column in each row.</td>
			</tr>
		</tbody>
	</table>
	
	<h2>Example One</h2>
	<div class="row">
		<div class="column grid1of2">
			<h3>Heading</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="column grid1of2">
			<h3>Heading</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	
	<pre><code>&lt;div class="row"&gt;
  &lt;div class="column grid1of2"&gt;
    &lt;h3&gt;Heading&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit...&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="column grid1of2"&gt;
    &lt;h3&gt;Heading&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
	
	<h2>Example Two</h2>
	<div class="row">
		<div class="column grid1of3">
			<h3>Heading</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="column grid2of3">
			<h3>Heading</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	
	<pre><code>&lt;div class="row"&gt;
  &lt;div class="column grid1of3"&gt;
    &lt;h3&gt;Heading&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit...&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="column grid2of3"&gt;
    &lt;h3&gt;Heading&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
	
	<h2>Example Three</h2>
	<div class="row">
		<div class="column grid1of2">
			<div class="row">
				<div class="column grid1of2">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				
				<div class="column grid1of2">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
		
		<div class="column grid1of2">
			<div class="row">
				<div class="column grid1of1">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="column grid1of3">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
				</div>
				
				<div class="column grid1of3">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
				</div>
				
				<div class="column grid1of3">
					<h3>Heading</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>