<div id="_840">
	<div class="gridz_row">
		<div class="gridz_2_3">
			<div class="normal">
				
				<div class="gridz_row">
					<div class="gridz_2_3">
						<div class="normal">
							<h1>Logo or Site Title</h1>
						</div>
					</div>
					
					<div class="gridz_1_3">
						<div class="last">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<div class="gridz_row">
					<div class="gridz_2_3">
						<div class="normal">
							<ul>
								<li>List Item One</li>
								<li>List Item Two</li>
								<li>List Item Three</li>
							</ul>
						</div>
					</div>
					
					<div class="gridz_1_3">
						<div class="last">
							<form>
								<p>
									<input type="text" style="width: 80%; margin-top: 10px;" />
								</p>
								
								<p>
									<input type="submit" value="Search!">
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr/>
	
	<div id="main_nav">
		<p>Main Navigation goes here</p>
	</div>
	
	<hr/>
	
	<div class="gridz_row">
		<div class="gridz_2_3">
			<div class="normal">
				<h3>Content goes here</h3>
				<p>
					Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
					porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
					ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
					velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
					eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
					venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
					vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
					venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
					eu ipsum!
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				
				<div class="gridz_row">
					<div class="gridz_2_3">
						<div class="normal">
							<h5>Strategy One</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
							<hr/>
							<h5>Strategy Two</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
					
					<div class="gridz_1_3">
						<div class="last">
							<p>Image Here</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<hr/>
	
	<div class="gridz_row">
		<div class="gridz_2_3">
			<div class="normal">
				<h3>Content goes here</h3>
				<p>
					Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
					porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
					ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
					velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
					eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
					venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
					vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
					venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
					eu ipsum!
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<h5>Strategy One</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
				<hr/>
				<h5>Strategy Two</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>	
			</div>
		</div>
	</div>
	
	<hr/>
	
	<div class="gridz_row">
		<div class="gridz_1_3">
			<div class="normal">
				<h3>Nested Box 1</h3>
				<p>
					Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
					porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
					ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
					velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
					eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
					venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
					vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
					venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
					eu ipsum!
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="normal">
				<h3>Nested Box 2</h3>
				<p>
					Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
					porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
					ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
					velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
					eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
					venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
					vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
					venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
					eu ipsum!
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<h3>Nested Box 3</h3>
				<p>
					Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
					porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
					ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
					velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
					eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
					venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
					vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
					venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
					eu ipsum!
				</p>
			</div>
		</div>
	</div>
	
	<hr/>
	
	<div id="footer">
		<h1>Footer</h1>
		<p>
			Click <%= link_to "here", :action => :index %> to go back.
		</p>
	</div>
</div>