<div>
	<div class="gridz_row">
		<div class="gridz_2_3">
			<div class="normal">
				<h1>Site Navigation</h1>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<h1>Logo</h1>
			</div>
		</div>
	</div>
	
	<div class="gridz_row">
		<div class="gridz_2_3">
			<div class="normal">
				<h3>Holy Cow, Look at This!</h3>
				
				<div class="gridz_row">
					<div class="gridz_1_3">
						<div class="normal">
							<h5>Box 1</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
					
					<div class="gridz_1_3">
						<div class="normal">
							<h5>Box 2</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
					
					<div class="gridz_1_3">
						<div class="last">
							<h5>Box 3</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
				</div>
				
				<div>
					<h3>You Won't Believe How <em>Simple</em> This Really Is!</h3>
					<p>
						Integer quis quam in mi sodales viverra. Proin lacinia interdum augue. 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nisl orci;
						porttitor ac, vulputate at, tincidunt vel, mauris. Praesent eget sem ac 
						ante luctus malesuada. Quisque auctor, purus nec facilisis aliquet, dui 
						velit pharetra magna, eu imperdiet lorem odio et urna. Phasellus 
						eleifend nibh nec lectus. Nam massa! Praesent ligula. Praesent 
						venenatis, arcu in consequat iaculis, est urna sagittis nibh; sed 
						vestibulum mauris elit id enim? Praesent non augue bibendum urna ornare
						venenatis. Cras cursus orci quis libero. Donec scelerisque dolor 
						eu ipsum!
					</p>
				</div>
				
				<div class="gridz_row">
					<div class="gridz_1_2">
						<div class="normal">
							<h5>Box 1</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
					
					<div class="gridz_1_2">
						<div class="normal">
							<h5>Box 2</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
								enim ad minim veniam, quis nostrud exercitation ullamco laboris 
								nisi ut aliquip.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<h3>A <em>Simple</em> Sidebar</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
			</div>
		</div>
	</div>
	
	<div class="gridz_row">
		<div class="gridz_1_3">
			<div class="normal">
				<h5>Box 1</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="normal">
				<h5>Box 2</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
			</div>
		</div>
		
		<div class="gridz_1_3">
			<div class="last">
				<h5>Box 3</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
					enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip.
				</p>
			</div>
		</div>
	</div>
	
	<hr/>

	<div id="footer">
		<h1>Footer</h1>
		<p>
			Click <%= link_to "here", :action => :index %> to go back.
		</p>
	</div>
</div>